* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }

html, body {
    font-family: avenir;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    width: 940px;
    height: 679px;
}

#userInput {
    position: absolute;
    margin-left: 950px;
    max-width: 320px;
    max-height: 679px;
    overflow-y: hidden;
    font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

.pic {
    margin: 20px 0px;
    padding: 5px 0px;
    border-radius: 3px 3px 3px 3px;
}

#display {
    position: fixed;
    width: 100%;
    z-index: 100;
}

#info {
    text-align: center;
    margin: 90px auto 0 auto;
    font-size: 15px;
}

#schedule {
    width: 320px;
    text-align: left;
    vertical-align: middle;
    margin: 90px auto 0 auto;
    border-spacing: 0;
}

#schedule tr {
    background: #fff;
}

#schedule th {
    padding: 3px;
    font-size: 15px;
}

#schedule td {
    padding: 2px;
    font-size: 13px;
}

#schedule tr:hover {
    background-color: #eee;
}